@inherits Umbraco.Web.Mvc.UmbracoTemplatePage


<!-- Header -->
<header id="headerwrap" class="backstretched fullheight">
	<div class="vertical-center">
		<div class="col-sm-1 pull-left text-center slider-control match-height">
			<a href="#" class="prev-bs-slide vertical-center wow fadeInLeft" data-wow-delay="0.8s"><i class="fa fa-long-arrow-left"></i></a>
		</div>
		<div class="intro-text text-center smoothie col-sm-10 match-height">
			<div class="intro-heading wow fadeIn heading-font" data-wow-delay="0.8s">JHB METRO <span class="theme-accent-color">CHESS</span></div>
		</div>
		<div class="col-sm-1 pull-right text-center slider-control match-height">
			<a href="#" class="next-bs-slide vertical-center wow fadeInRight" data-wow-delay="0.8s"><i class="fa fa-long-arrow-right"></i></a>
		</div>
	</div>
	<div class="header-scroll-wrapper">
		<a href="#welcome" class="mouse page-scroll wow fadeInDown" data-wow-delay="0.8s"><div class="wheel"></div></a>
	</div>
</header>





