<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT Affiliate ANY>
<!ATTLIST Affiliate id ID #REQUIRED>
<!ELEMENT Affiliatecontainer ANY>
<!ATTLIST Affiliatecontainer id ID #REQUIRED>
<!ELEMENT Article ANY>
<!ATTLIST Article id ID #REQUIRED>
<!ELEMENT Club ANY>
<!ATTLIST Club id ID #REQUIRED>
<!ELEMENT Clubcontainer ANY>
<!ATTLIST Clubcontainer id ID #REQUIRED>
<!ELEMENT Coach ANY>
<!ATTLIST Coach id ID #REQUIRED>
<!ELEMENT Coachcontainer ANY>
<!ATTLIST Coachcontainer id ID #REQUIRED>
<!ELEMENT ContentPage ANY>
<!ATTLIST ContentPage id ID #REQUIRED>
<!ELEMENT Entertournament ANY>
<!ATTLIST Entertournament id ID #REQUIRED>
<!ELEMENT Executive ANY>
<!ATTLIST Executive id ID #REQUIRED>
<!ELEMENT Executivecontainer ANY>
<!ATTLIST Executivecontainer id ID #REQUIRED>
<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>
<!ELEMENT Membersignup ANY>
<!ATTLIST Membersignup id ID #REQUIRED>
<!ELEMENT Newscontainer ANY>
<!ATTLIST Newscontainer id ID #REQUIRED>
<!ELEMENT Sponsor ANY>
<!ATTLIST Sponsor id ID #REQUIRED>
<!ELEMENT Sponsorcontainer ANY>
<!ATTLIST Sponsorcontainer id ID #REQUIRED>
<!ELEMENT Tournament ANY>
<!ATTLIST Tournament id ID #REQUIRED>
<!ELEMENT Tournamentcontainer ANY>
<!ATTLIST Tournamentcontainer id ID #REQUIRED>
<!ELEMENT Webpage ANY>
<!ATTLIST Webpage id ID #REQUIRED>

]>
<root id="-1">
  <Home id="2081" key="ebb9222f-f26c-4462-9f5d-43dba520326f" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-12-29T12:19:53" updateDate="2016-01-23T15:19:53" nodeName="Home" urlName="home" path="-1,2081" isDoc="" nodeType="1070" creatorName="Gerrie Pretorius" writerName="Gerrie Pretorius" writerID="0" template="1049" nodeTypeAlias="Home">
    <pageTitle><![CDATA[This is the title of the homepage]]></pageTitle>
    <topbanners><![CDATA[1058,2137,2149,2150,2154,2148]]></topbanners>
    <aboutUsSmallText><![CDATA[End sitting shewing who saw besides son musical adapted. Contrasted interested eat alteration pianoforte sympathize was. He families believed if no elegance interest surprise an. It abode wrong miles an so delay plate.]]></aboutUsSmallText>
    <blackNews><![CDATA[<h3>News Headline</h3>
<p>End sitting shewing who saw besides son musical adapted. Contrasted interested eat alteration pianoforte sympathize was. He families believed if no elegance interest surprise an. It abode wrong miles an so delay plate.</p>]]></blackNews>
    <whiteNews><![CDATA[<h3>News Headline</h3>
<p>End sitting shewing who saw besides son musical adapted. Contrasted interested eat alteration pianoforte sympathize was. He families believed if no elegance interest surprise an. It abode wrong miles an so delay plate.</p>]]></whiteNews>
    <facebookLink><![CDATA[https://www.facebook.com/Jhb-Metro-Chess-497575840365249/]]></facebookLink>
    <contactUsBackground>2100</contactUsBackground>
    <blackNewsBackground>2149</blackNewsBackground>
    <aboutUsLargeText><![CDATA[Sold old ten are quit lose deal his sent. You correct how sex several far distant believe journey parties. We shyness enquire uncivil affixed it carried to. Sold old ten are quit lose deal his sent. He families believed if no elegance interest.]]></aboutUsLargeText>
    <Tournamentcontainer id="2082" key="d9e59182-ba2b-46e3-a112-d3b176239d3c" parentID="2081" level="2" creatorID="0" sortOrder="1" createDate="2015-12-29T12:20:06" updateDate="2016-01-20T21:23:01" nodeName="Tournaments" urlName="tournaments" path="-1,2081,2082" isDoc="" nodeType="1071" creatorName="Gerrie Pretorius" writerName="Gerrie Pretorius" writerID="0" template="1063" nodeTypeAlias="Tournamentcontainer">
      <tournamentBackground>2100</tournamentBackground>
      <topbanner>1059</topbanner>
      <Tournament id="2097" key="21d72ce7-6d91-4c87-95f6-5ff298201b1e" parentID="2082" level="3" creatorID="0" sortOrder="0" createDate="2016-01-06T22:05:20" updateDate="2016-01-20T21:23:01" nodeName="Rapid Play (Open) 10/10 Tournament" urlName="rapid-play-open-1010-tournament" path="-1,2081,2082,2097" isDoc="" nodeType="2080" creatorName="Gerrie Pretorius" writerName="Gerrie Pretorius" writerID="0" template="1066" nodeTypeAlias="Tournament">
        <club><![CDATA[2104]]></club>
        <startDate>2016-01-15T00:00:00</startDate>
        <rated><![CDATA[Rapid]]></rated>
        <venue><![CDATA[Grayston Prep]]></venue>
        <tournamentDetails><![CDATA[/media/1011/mychesstournamentdetailspdf.pdf]]></tournamentDetails>
        <resultsLink><![CDATA[sadasdasd]]></resultsLink>
      </Tournament>
      <Tournament id="2098" key="aa11c1ab-1be0-4e94-8da0-212cd3cb6a22" parentID="2082" level="3" creatorID="0" sortOrder="1" createDate="2016-01-06T22:06:56" updateDate="2016-01-20T22:18:16" nodeName="JHB Central - Open 1" urlName="jhb-central-open-1" path="-1,2081,2082,2098" isDoc="" nodeType="2080" creatorName="Gerrie Pretorius" writerName="Gerrie Pretorius" writerID="0" template="2164" nodeTypeAlias="Tournament">
        <organiser><![CDATA[Clive Mthunzi]]></organiser>
        <club><![CDATA[2110]]></club>
        <venueGpsLattitude><![CDATA[-26.0836059]]></venueGpsLattitude>
        <startDate>2016-01-23T00:00:00</startDate>
        <rated><![CDATA[Standard]]></rated>
        <description><![CDATA[<p>vwewevwvewev</p>]]></description>
        <contact><![CDATA[011 234 5678]]></contact>
        <venue><![CDATA[Yeshiva College]]></venue>
        <tournamentDetails><![CDATA[/media/1016/mychesstournamentdetailspdf.pdf]]></tournamentDetails>
        <venueGpsLongitude><![CDATA[27.9848963]]></venueGpsLongitude>
      </Tournament>
      <Tournament id="2099" key="7e08b71c-41c4-433b-b6dd-ddd0c9b761d4" parentID="2082" level="3" creatorID="0" sortOrder="2" createDate="2016-01-06T22:08:18" updateDate="2016-01-20T21:23:01" nodeName="JNW - Blairgowrie - Open" urlName="jnw-blairgowrie-open" path="-1,2081,2082,2099" isDoc="" nodeType="2080" creatorName="Gerrie Pretorius" writerName="Gerrie Pretorius" writerID="0" template="1066" nodeTypeAlias="Tournament">
        <organiser><![CDATA[Unknown Organiser]]></organiser>
        <club><![CDATA[2095]]></club>
        <startDate>2016-01-30T00:00:00</startDate>
        <rated><![CDATA[Rapid]]></rated>
        <contact><![CDATA[011 234 5678]]></contact>
        <venue><![CDATA[Blairgowrie Primary]]></venue>
        <tournamentDetails><![CDATA[/media/1015/mychesstournamentdetailspdf.pdf]]></tournamentDetails>
      </Tournament>
      <Tournament id="2115" key="9a8b30af-50bd-476a-9377-1bdd3800aeb1" parentID="2082" level="3" creatorID="0" sortOrder="3" createDate="2016-01-09T18:39:27" updateDate="2016-01-20T21:23:01" nodeName="JNW - Trinityhouse Little Falls" urlName="jnw-trinityhouse-little-falls" path="-1,2081,2082,2115" isDoc="" nodeType="2080" creatorName="Gerrie Pretorius" writerName="Gerrie Pretorius" writerID="0" template="1066" nodeTypeAlias="Tournament">
        <startDate>2016-02-19T00:00:00</startDate>
        <rated><![CDATA[Standard]]></rated>
        <venue><![CDATA[Trinity House Little Falls]]></venue>
        <tournamentDetails><![CDATA[/media/1012/mychesstournamentdetailspdf.pdf]]></tournamentDetails>
      </Tournament>
      <Tournament id="2119" key="36e63f6c-d59d-46a5-86bc-a2ca4c373a2d" parentID="2082" level="3" creatorID="0" sortOrder="4" createDate="2016-01-10T18:55:43" updateDate="2016-01-20T21:50:56" nodeName="Chessnut - U8 &amp; U10" urlName="chessnut-u8-u10" path="-1,2081,2082,2119" isDoc="" nodeType="2080" creatorName="Gerrie Pretorius" writerName="Gerrie Pretorius" writerID="0" template="2164" nodeTypeAlias="Tournament">
        <endDate>2016-01-29T21:44:51</endDate>
        <organiser><![CDATA[Estelle Oberholzer]]></organiser>
        <club><![CDATA[2105]]></club>
        <startDate>2016-01-22T00:00:00</startDate>
        <rated><![CDATA[Rapid/Standard]]></rated>
        <description><![CDATA[<p>&lt;p&gt;Behind sooner dining so window excuse he summer. Breakfast met certainty and fulfilled propriety led. Waited get either are wooded little her. Contrasted unreserved as mr particular collecting it everything as indulgence. Seems ask <strong>meant</strong> merry could put. Age old begin had boy noisy table front <strong>whole given</strong>.</p>]]></description>
        <contact><![CDATA[012 345 6789]]></contact>
        <venue><![CDATA[House of Chess]]></venue>
        <tournamentDetails><![CDATA[/media/1014/mychesstournamentdetailspdf.pdf]]></tournamentDetails>
      </Tournament>
    </Tournamentcontainer>
    <Coachcontainer id="2091" key="5a6f422b-4df7-4485-bdb4-4d417036e9dc" parentID="2081" level="2" creatorID="0" sortOrder="2" createDate="2015-12-29T13:17:19" updateDate="2016-01-20T21:23:01" nodeName="Coaches" urlName="coaches" path="-1,2081,2091" isDoc="" nodeType="2087" creatorName="Gerrie Pretorius" writerName="Gerrie Pretorius" writerID="0" template="0" nodeTypeAlias="Coachcontainer" />
    <Clubcontainer id="2094" key="6f11e986-3e29-4555-8bc4-5a847600704c" parentID="2081" level="2" creatorID="0" sortOrder="3" createDate="2015-12-29T13:20:15" updateDate="2016-01-24T14:09:18" nodeName="Chess Clubs" urlName="chess-clubs" path="-1,2081,2094" isDoc="" nodeType="2092" creatorName="Gerrie Pretorius" writerName="Gerrie Pretorius" writerID="0" template="2118" nodeTypeAlias="Clubcontainer">
      <pageTitle><![CDATA[Chess clubs in and around the Johannesburg chess union. meet and play chess against opponents of your rating, and improve your chess game, in a social chess environment.]]></pageTitle>
      <topBanner>1060</topBanner>
      <clubBackground>2149</clubBackground>
      <Club id="2103" key="856c9937-cf4c-481b-aaba-487e0dcee199" parentID="2094" level="3" creatorID="0" sortOrder="0" createDate="2016-01-07T22:41:28" updateDate="2016-01-23T12:36:38" nodeName="Hlalefang Alexandra Chess club" urlName="hlalefang-alexandra-chess-club" path="-1,2081,2094,2103" isDoc="" nodeType="2093" creatorName="Gerrie Pretorius" writerName="Gerrie Pretorius" writerID="0" template="2163" nodeTypeAlias="Club">
        <president><![CDATA[Jonathan Maliboho]]></president>
        <logo><![CDATA[/media/1023/twitterknight.jpg]]></logo>
        <presidentCell><![CDATA[078 338 0672]]></presidentCell>
        <presidentEmail><![CDATA[jonathann@mweb.co.za]]></presidentEmail>
        <clubCheckList><![CDATA[Is Name on Logo]]></clubCheckList>
      </Club>
      <Club id="2104" key="a5d73286-9572-445b-9d3a-7f758de64d0e" parentID="2094" level="3" creatorID="0" sortOrder="1" createDate="2016-01-07T22:42:27" updateDate="2016-01-23T12:36:54" nodeName="Chess Excellence" urlName="chess-excellence" path="-1,2081,2094,2104" isDoc="" nodeType="2093" creatorName="Gerrie Pretorius" writerName="Gerrie Pretorius" writerID="0" template="2163" nodeTypeAlias="Club">
        <president><![CDATA[Nicholas van der Nut]]></president>
        <logo><![CDATA[/media/1022/small_tournament.jpg]]></logo>
        <presidentCell><![CDATA[082 970 4493]]></presidentCell>
        <webAddress><![CDATA[http://www.chessexcellence.com]]></webAddress>
        <presidentEmail><![CDATA[nicholas@chessexcellence.com]]></presidentEmail>
        <clubCheckList><![CDATA[Is Name on Logo]]></clubCheckList>
      </Club>
      <Club id="2105" key="ad082d2d-4982-4dd6-af0b-b610dcbb9c3a" parentID="2094" level="3" creatorID="0" sortOrder="2" createDate="2016-01-07T22:45:06" updateDate="2016-01-20T21:23:01" nodeName="Chessnut" urlName="chessnut" path="-1,2081,2094,2105" isDoc="" nodeType="2093" creatorName="Gerrie Pretorius" writerName="Gerrie Pretorius" writerID="0" template="2163" nodeTypeAlias="Club">
        <president><![CDATA[Estelle Oberholzer]]></president>
        <logo><![CDATA[/media/1024/houseofchesstransparent.png]]></logo>
        <alternativeContact><![CDATA[Elzanne Fitton]]></alternativeContact>
        <presidentCell><![CDATA[082 488 2774]]></presidentCell>
        <alternativeContactCell><![CDATA[082 924 7990]]></alternativeContactCell>
        <presidentEmail><![CDATA[estelle@houseofchess.co.za]]></presidentEmail>
        <alternativeContactEmail><![CDATA[elzanne@houseofchess.co.za]]></alternativeContactEmail>
      </Club>
      <Club id="2106" key="6654bdee-f534-41d1-a385-cb1fe0c35f3d" parentID="2094" level="3" creatorID="0" sortOrder="3" createDate="2016-01-07T22:46:14" updateDate="2016-01-20T21:23:01" nodeName="JHB Central Chess" urlName="jhb-central-chess" path="-1,2081,2094,2106" isDoc="" nodeType="2093" creatorName="Gerrie Pretorius" writerName="Gerrie Pretorius" writerID="0" template="2163" nodeTypeAlias="Club">
        <president><![CDATA[Nadeem Naidoo]]></president>
        <logo><![CDATA[/media/1025/small_tournament.jpg]]></logo>
        <alternativeContact><![CDATA[Clive Mthunzi]]></alternativeContact>
        <locationVenue><![CDATA[Riverpark Library]]></locationVenue>
        <presidentCell><![CDATA[084 404 5666]]></presidentCell>
        <alternativeContactCell><![CDATA[071 934 8263]]></alternativeContactCell>
        <presidentEmail><![CDATA[nadeem.naidoo@gmail.com]]></presidentEmail>
        <alternativeContactEmail><![CDATA[clivemthunzi@yahoo.com]]></alternativeContactEmail>
      </Club>
      <Club id="2107" key="7bb0adef-1f34-4735-81a7-83a0bb36ad11" parentID="2094" level="3" creatorID="0" sortOrder="4" createDate="2016-01-07T22:47:22" updateDate="2016-01-20T21:23:01" nodeName="Go for chess" urlName="go-for-chess" path="-1,2081,2094,2107" isDoc="" nodeType="2093" creatorName="Gerrie Pretorius" writerName="Gerrie Pretorius" writerID="0" template="2163" nodeTypeAlias="Club">
        <president><![CDATA[Clyde Wolpe]]></president>
        <presidentCell><![CDATA[061 034 2885]]></presidentCell>
        <webAddress><![CDATA[http://www.goforchess.com/]]></webAddress>
        <presidentEmail><![CDATA[clydewolpe@rocketmail.com]]></presidentEmail>
      </Club>
      <Club id="2108" key="b2a54ce4-431a-42f6-956b-8d048a64aa70" parentID="2094" level="3" creatorID="0" sortOrder="5" createDate="2016-01-07T22:48:00" updateDate="2016-01-20T21:23:01" nodeName="Heynas Chess Club" urlName="heynas-chess-club" path="-1,2081,2094,2108" isDoc="" nodeType="2093" creatorName="Gerrie Pretorius" writerName="Gerrie Pretorius" writerID="0" template="2163" nodeTypeAlias="Club">
        <president><![CDATA[Stephen Skosana]]></president>
        <presidentCell><![CDATA[083 603 0991]]></presidentCell>
        <webAddress><![CDATA[http://www.hyenaschess.com]]></webAddress>
        <presidentEmail><![CDATA[stephen@hyenaschess.com]]></presidentEmail>
      </Club>
      <Club id="2109" key="c4caadea-1a6f-4592-bcc8-e771370c9716" parentID="2094" level="3" creatorID="0" sortOrder="6" createDate="2016-01-07T22:49:13" updateDate="2016-01-20T21:23:01" nodeName="JHB South Chess" urlName="jhb-south-chess" path="-1,2081,2094,2109" isDoc="" nodeType="2093" creatorName="Gerrie Pretorius" writerName="Gerrie Pretorius" writerID="0" template="2163" nodeTypeAlias="Club">
        <president><![CDATA[Alex Macdonald]]></president>
        <alternativeContact><![CDATA[Paddy Padayachee]]></alternativeContact>
        <presidentCell><![CDATA[083 258 4221]]></presidentCell>
        <alternativeContactCell><![CDATA[083 310 1975]]></alternativeContactCell>
        <webAddress><![CDATA[http://www.gschess.co.za]]></webAddress>
        <presidentEmail><![CDATA[gspresident@gschess.co.za]]></presidentEmail>
        <alternativeContactEmail><![CDATA[gsvpresident@gschess.co.za]]></alternativeContactEmail>
      </Club>
      <Club id="2110" key="81c368fb-9216-4d30-a29c-c42677ecff9b" parentID="2094" level="3" creatorID="0" sortOrder="7" createDate="2016-01-07T22:51:35" updateDate="2016-01-20T21:23:01" nodeName="Jhb North West Chess Club" urlName="jhb-north-west-chess-club" path="-1,2081,2094,2110" isDoc="" nodeType="2093" creatorName="Gerrie Pretorius" writerName="Gerrie Pretorius" writerID="0" template="2163" nodeTypeAlias="Club">
        <president><![CDATA[Gerhardus van Deventer]]></president>
        <alternativeContact><![CDATA[Andries Myburgh]]></alternativeContact>
        <presidentCell><![CDATA[084 680 6180]]></presidentCell>
        <alternativeContactCell><![CDATA[083 289 3907]]></alternativeContactCell>
        <webAddress><![CDATA[http://www.jnwchess.co.za]]></webAddress>
        <presidentEmail><![CDATA[president@jnwchess.co.za]]></presidentEmail>
        <alternativeContactEmail><![CDATA[vice-president@jnwchess.co.za]]></alternativeContactEmail>
      </Club>
      <Club id="2111" key="87f8a7fc-4fe2-4589-883c-c39344052ff2" parentID="2094" level="3" creatorID="0" sortOrder="8" createDate="2016-01-07T22:52:15" updateDate="2016-01-20T21:23:01" nodeName="Knight Riders" urlName="knight-riders" path="-1,2081,2094,2111" isDoc="" nodeType="2093" creatorName="Gerrie Pretorius" writerName="Gerrie Pretorius" writerID="0" template="2163" nodeTypeAlias="Club">
        <president><![CDATA[Linda Makhubela]]></president>
        <presidentCell><![CDATA[078 734 4018]]></presidentCell>
        <presidentEmail><![CDATA[knightriders141@gmail.com]]></presidentEmail>
      </Club>
      <Club id="2112" key="aab742b8-3634-452c-aab3-30f2c784a115" parentID="2094" level="3" creatorID="0" sortOrder="9" createDate="2016-01-07T22:53:02" updateDate="2016-01-20T21:23:01" nodeName="Randburg Chess" urlName="randburg-chess" path="-1,2081,2094,2112" isDoc="" nodeType="2093" creatorName="Gerrie Pretorius" writerName="Gerrie Pretorius" writerID="0" template="2163" nodeTypeAlias="Club">
        <president><![CDATA[Neil Savage]]></president>
        <alternativeContact><![CDATA[Willem van der Westhuizen]]></alternativeContact>
        <locationVenue><![CDATA[Blairgowrie Recreation Centre, Park Lane, Blairgowrie]]></locationVenue>
        <presidentCell><![CDATA[083 259 8651]]></presidentCell>
        <alternativeContactCell><![CDATA[082 959 5240]]></alternativeContactCell>
        <presidentEmail><![CDATA[neil.savage@hotmail.co.za]]></presidentEmail>
        <alternativeContactEmail><![CDATA[vdwesthuizenw@gmail.com]]></alternativeContactEmail>
      </Club>
      <Club id="2113" key="36e5efb0-1c5c-4f46-9675-acc49327b3e5" parentID="2094" level="3" creatorID="0" sortOrder="10" createDate="2016-01-07T22:53:33" updateDate="2016-01-20T21:23:01" nodeName="Midrand Chess Club" urlName="midrand-chess-club" path="-1,2081,2094,2113" isDoc="" nodeType="2093" creatorName="Gerrie Pretorius" writerName="Gerrie Pretorius" writerID="0" template="2163" nodeTypeAlias="Club">
        <president><![CDATA[Kris Eale]]></president>
        <presidentCell><![CDATA[ 079 400 2056]]></presidentCell>
        <presidentEmail><![CDATA[kris.eale@midrandchessclub.com)]]></presidentEmail>
      </Club>
    </Clubcontainer>
    <Executivecontainer id="2122" key="79320d69-dfce-4ed1-af4d-5405a2ea00ec" parentID="2081" level="2" creatorID="0" sortOrder="4" createDate="2016-01-11T22:27:53" updateDate="2016-01-20T21:23:01" nodeName="Executives" urlName="executives" path="-1,2081,2122" isDoc="" nodeType="2120" creatorName="Gerrie Pretorius" writerName="Gerrie Pretorius" writerID="0" template="0" nodeTypeAlias="Executivecontainer">
      <pageTitle><![CDATA[Executive Committee Johannesburg chess union, or otherwise known as JHB Chess union. this is our awesome team that makes our chess union run like clockwork]]></pageTitle>
      <Executive id="2128" key="2ecfda92-77fa-40ae-b828-1e6e67f09431" parentID="2122" level="3" creatorID="0" sortOrder="1" createDate="2016-01-17T13:36:14" updateDate="2016-01-20T21:23:01" nodeName="Gert Mostert" urlName="gert-mostert" path="-1,2081,2122,2128" isDoc="" nodeType="2121" creatorName="Gerrie Pretorius" writerName="Gerrie Pretorius" writerID="0" template="0" nodeTypeAlias="Executive">
        <telephone><![CDATA[083 3911492]]></telephone>
        <email><![CDATA[president@jhbmetrochess.co.za]]></email>
        <picture><![CDATA[/media/1017/profilepic.jpg]]></picture>
        <designation><![CDATA[President]]></designation>
      </Executive>
      <Executive id="2129" key="f201ed22-eed1-4ee4-88b6-c3d3005e5a5d" parentID="2122" level="3" creatorID="0" sortOrder="2" createDate="2016-01-17T13:36:39" updateDate="2016-01-20T21:23:01" nodeName="Sojen Joy" urlName="sojen-joy" path="-1,2081,2122,2129" isDoc="" nodeType="2121" creatorName="Gerrie Pretorius" writerName="Gerrie Pretorius" writerID="0" template="0" nodeTypeAlias="Executive">
        <telephone><![CDATA[082 445 0209]]></telephone>
        <email><![CDATA[vice-president@jhbmetrochess.co.za]]></email>
        <picture><![CDATA[/media/1019/profilepic.jpg]]></picture>
        <designation><![CDATA[Vice President]]></designation>
      </Executive>
      <Executive id="2130" key="b62107a8-7337-46fe-9850-47d7a3fb34f1" parentID="2122" level="3" creatorID="0" sortOrder="3" createDate="2016-01-17T13:37:12" updateDate="2016-01-20T21:23:01" nodeName="Andre Nel" urlName="andre-nel" path="-1,2081,2122,2130" isDoc="" nodeType="2121" creatorName="Gerrie Pretorius" writerName="Gerrie Pretorius" writerID="0" template="0" nodeTypeAlias="Executive">
        <telephone><![CDATA[083 633 9167]]></telephone>
        <email><![CDATA[finance@jhbmetrochess.co.za]]></email>
        <picture><![CDATA[/media/1020/profilepic.jpg]]></picture>
        <designation><![CDATA[Treasurer]]></designation>
      </Executive>
      <Executive id="2131" key="176d2a1d-8641-4f9b-922e-b7e621c9e86a" parentID="2122" level="3" creatorID="0" sortOrder="4" createDate="2016-01-17T13:37:44" updateDate="2016-01-20T21:23:01" nodeName="Morne Bester" urlName="morne-bester" path="-1,2081,2122,2131" isDoc="" nodeType="2121" creatorName="Gerrie Pretorius" writerName="Gerrie Pretorius" writerID="0" template="0" nodeTypeAlias="Executive">
        <telephone><![CDATA[083 442 6525]]></telephone>
        <email><![CDATA[admin@jhbmetrochess.co.za]]></email>
        <picture><![CDATA[/media/1018/profilepic.jpg]]></picture>
        <designation><![CDATA[Additional Member]]></designation>
      </Executive>
      <Executive id="2132" key="f4498160-f83b-4b97-a5fb-a2831b6995f9" parentID="2122" level="3" creatorID="0" sortOrder="5" createDate="2016-01-17T13:59:09" updateDate="2016-01-20T21:23:01" nodeName="Estelle Oberholzer" urlName="estelle-oberholzer" path="-1,2081,2122,2132" isDoc="" nodeType="2121" creatorName="Gerrie Pretorius" writerName="Gerrie Pretorius" writerID="0" template="0" nodeTypeAlias="Executive">
        <telephone><![CDATA[082 488 2774]]></telephone>
        <email><![CDATA[secretary@jhbmetrochess.co.za]]></email>
        <picture><![CDATA[/media/1021/profilepic.jpg]]></picture>
        <designation><![CDATA[General Secretary]]></designation>
      </Executive>
    </Executivecontainer>
    <Newscontainer id="2126" key="fa9f536c-6b5a-41a9-8ec1-b1c21aa32d9a" parentID="2081" level="2" creatorID="0" sortOrder="5" createDate="2016-01-11T22:52:49" updateDate="2016-01-20T21:23:01" nodeName="News" urlName="news" path="-1,2081,2126" isDoc="" nodeType="2124" creatorName="Gerrie Pretorius" writerName="Gerrie Pretorius" writerID="0" template="0" nodeTypeAlias="Newscontainer">
      <pageTitle><![CDATA[News about Johannesburg Chess union,  and general chess news.]]></pageTitle>
      <Article id="2127" key="f5eb8839-f712-4605-b443-fdd31aaa0feb" parentID="2126" level="3" creatorID="0" sortOrder="0" createDate="2016-01-11T22:54:16" updateDate="2016-01-20T21:23:01" nodeName="Gary Kasparov lose against the machine." urlName="gary-kasparov-lose-against-the-machine" path="-1,2081,2126,2127" isDoc="" nodeType="2125" creatorName="Gerrie Pretorius" writerName="Gerrie Pretorius" writerID="0" template="0" nodeTypeAlias="Article">
        <pageTitle><![CDATA[Remember that time when gary lost. it was insane]]></pageTitle>
      </Article>
    </Newscontainer>
    <Sponsorcontainer id="2135" key="ef1b2da5-4eab-4e13-86f1-c46ff5cb6878" parentID="2081" level="2" creatorID="0" sortOrder="6" createDate="2016-01-17T22:20:28" updateDate="2016-01-20T21:23:01" nodeName="Sponsors" urlName="sponsors" path="-1,2081,2135" isDoc="" nodeType="2133" creatorName="Gerrie Pretorius" writerName="Gerrie Pretorius" writerID="0" template="0" nodeTypeAlias="Sponsorcontainer">
      <banner>2137</banner>
      <Sponsor id="2136" key="de2a7d84-92ec-4bfd-822d-a95e8b29688d" parentID="2135" level="3" creatorID="0" sortOrder="0" createDate="2016-01-17T22:28:00" updateDate="2016-01-20T21:23:01" nodeName="House of Chess" urlName="house-of-chess" path="-1,2081,2135,2136" isDoc="" nodeType="2134" creatorName="Gerrie Pretorius" writerName="Gerrie Pretorius" writerID="0" template="0" nodeTypeAlias="Sponsor">
        <logo><![CDATA[/media/1026/houseofchesssquare.jpg]]></logo>
        <website><![CDATA[http://www.houseofchess.co.za/]]></website>
        <description><![CDATA[House of Chess is your one stop online chess shop, specializing in everything chess, from garden sets to travel sets, and everything in between]]></description>
      </Sponsor>
    </Sponsorcontainer>
    <Affiliatecontainer id="2141" key="2f10f9fa-d80c-4e12-8fed-5d443d87cfaf" parentID="2081" level="2" creatorID="0" sortOrder="7" createDate="2016-01-17T23:17:46" updateDate="2016-01-20T21:23:01" nodeName="Affiliates" urlName="affiliates" path="-1,2081,2141" isDoc="" nodeType="2138" creatorName="Gerrie Pretorius" writerName="Gerrie Pretorius" writerID="0" template="0" nodeTypeAlias="Affiliatecontainer">
      <banner>1056</banner>
      <Affiliate id="2142" key="e4db39f3-380e-47bf-820a-69948b02a094" parentID="2141" level="3" creatorID="0" sortOrder="0" createDate="2016-01-17T23:22:10" updateDate="2016-01-20T21:23:01" nodeName="CHESSA" urlName="chessa" path="-1,2081,2141,2142" isDoc="" nodeType="2139" creatorName="Gerrie Pretorius" writerName="Gerrie Pretorius" writerID="0" template="0" nodeTypeAlias="Affiliate">
        <logo><![CDATA[/media/1029/chessa.png]]></logo>
        <website><![CDATA[http://www.chessa.co.za/]]></website>
      </Affiliate>
      <Affiliate id="2143" key="30042b1b-3129-4bd3-a0ef-b0f3e353af42" parentID="2141" level="3" creatorID="0" sortOrder="1" createDate="2016-01-17T23:22:39" updateDate="2016-01-20T21:23:01" nodeName="FIDE" urlName="fide" path="-1,2081,2141,2143" isDoc="" nodeType="2139" creatorName="Gerrie Pretorius" writerName="Gerrie Pretorius" writerID="0" template="0" nodeTypeAlias="Affiliate">
        <logo><![CDATA[/media/1030/fide.png]]></logo>
        <website><![CDATA[http://www.fide.com/]]></website>
      </Affiliate>
      <Affiliate id="2144" key="1bc03629-8365-4651-8a13-2e3b68dde349" parentID="2141" level="3" creatorID="0" sortOrder="2" createDate="2016-01-17T23:54:15" updateDate="2016-01-20T21:23:01" nodeName="Border Chess Union" urlName="border-chess-union" path="-1,2081,2141,2144" isDoc="" nodeType="2139" creatorName="Gerrie Pretorius" writerName="Gerrie Pretorius" writerID="0" template="0" nodeTypeAlias="Affiliate">
        <logo><![CDATA[/media/1031/border-chess-union.png]]></logo>
        <website><![CDATA[http://www.bcchess.co.za/]]></website>
      </Affiliate>
      <Affiliate id="2145" key="90fcf062-1d0c-4163-9ace-ac873d6d1812" parentID="2141" level="3" creatorID="0" sortOrder="3" createDate="2016-01-17T23:54:39" updateDate="2016-01-20T21:23:01" nodeName="Nelson Mandela Bay" urlName="nelson-mandela-bay" path="-1,2081,2141,2145" isDoc="" nodeType="2139" creatorName="Gerrie Pretorius" writerName="Gerrie Pretorius" writerID="0" template="0" nodeTypeAlias="Affiliate">
        <logo><![CDATA[/media/1032/nelsonmandelaybay.png]]></logo>
        <website><![CDATA[http://www.nelsonmandelabayyouthchess.co.za/]]></website>
      </Affiliate>
      <Affiliate id="2146" key="2919418a-9e80-4e3a-9726-e5ae06284b7a" parentID="2141" level="3" creatorID="0" sortOrder="4" createDate="2016-01-17T23:55:03" updateDate="2016-01-20T21:23:01" nodeName="Western Province" urlName="western-province" path="-1,2081,2141,2146" isDoc="" nodeType="2139" creatorName="Gerrie Pretorius" writerName="Gerrie Pretorius" writerID="0" template="0" nodeTypeAlias="Affiliate">
        <logo><![CDATA[/media/1033/westernprovince.png]]></logo>
        <website><![CDATA[http://www.lejwechess.co.za/]]></website>
      </Affiliate>
      <Affiliate id="2147" key="f7123471-6c94-4cfe-91ae-0c8b9dd46c16" parentID="2141" level="3" creatorID="0" sortOrder="5" createDate="2016-01-17T23:55:28" updateDate="2016-01-20T21:23:01" nodeName="Freestate" urlName="freestate" path="-1,2081,2141,2147" isDoc="" nodeType="2139" creatorName="Gerrie Pretorius" writerName="Gerrie Pretorius" writerID="0" template="0" nodeTypeAlias="Affiliate">
        <logo><![CDATA[/media/1034/freestate.png]]></logo>
        <website><![CDATA[http://www.chessfreestate.co.za/]]></website>
      </Affiliate>
    </Affiliatecontainer>
    <ContentPage id="2170" key="032e94ec-0d18-4e86-b9eb-9ef6ab804a13" parentID="2081" level="2" creatorID="0" sortOrder="9" createDate="2016-01-24T12:46:37" updateDate="2016-01-24T15:03:43" nodeName="Banking Details" urlName="banking-details" path="-1,2081,2170" isDoc="" nodeType="2169" creatorName="Gerrie Pretorius" writerName="Gerrie Pretorius" writerID="0" template="2171" nodeTypeAlias="ContentPage">
      <content><![CDATA[<div class="col-sm-6">     
<p><strong>Bank: </strong> First National Bank</p>
<p><strong>Account Name: </strong> Johannesburg Metro Chess</p>
<p><strong>Bank Account No: </strong> 62431788085</p>
<p><strong>Branch: </strong> Cresta</p>
<p><strong>Branch Code: </strong> 254905</p>
</div>]]></content>
    </ContentPage>
    <Membersignup id="2174" key="e8aaba75-a09e-422d-afda-ee894e2230a4" parentID="2081" level="2" creatorID="0" sortOrder="10" createDate="2016-01-24T22:07:50" updateDate="2016-01-24T22:07:50" nodeName="Member Signup" urlName="member-signup" path="-1,2081,2174" isDoc="" nodeType="2172" creatorName="Gerrie Pretorius" writerName="Gerrie Pretorius" writerID="0" template="2173" nodeTypeAlias="Membersignup">
      <pageTitle><![CDATA[JHB Metro Chess Member Resgistration Signup]]></pageTitle>
    </Membersignup>
  </Home>
</root>