@inherits UmbracoViewPage<List<JhbMetro.Admin.Model.zTourSection>>

@foreach (var tournamentSection in Model)
{
	<option value="@tournamentSection.SectionID" >@tournamentSection.SectionName</option>
}