@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
	var club = CurrentPage;
}
@section title {@CurrentPage.Name | @CurrentPage.pageTitle}

<section class="dark-wrapper opaqued parallax" data-parallax="scroll" data-image-src="assets/img/bg/bg2.jpg" data-speed="0.8">
	<div class="section-inner">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 mt30 text-center wow fadeIn" data-wow-delay="0.2s">
					<div id="bannertext">
						<h2 class="section-heading">@club.Name <span class="theme-accent-color">!</span></h2>
						<div class="item-metas text-muted mb30 white">
							<span class="meta-item"><i class="pe-icon pe-7s-folder"></i> POSTED IN <span class="secondary-font">Tournaments</span></span>
							<span class="meta-item"><i class="pe-icon pe-7s-ticket"></i> TAGS <span class="secondary-font">Chess CLub</span></span>
							<span class="meta-item"><i class="pe-icon pe-7s-user"></i>Club <span class="secondary-font">@club.Name</span></span>
							<span class="meta-item"><i class="pe-icon pe-7s-comment"></i> COMMENTS <span class="secondary-font">3</span></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="section-inner">
		<div class="container">
			<div class="row">
				<div id="post-content" class="col-sm-12 blog-item mb60 wow fadeIn" data-wow-delay="0.2s">
					<div class="row">
						<div class="col-xs-2 post-left-col">
							<div class="post-date heading-font">
								<span class="the-date">19</span>
								<span class="the-month">April, 2014</span>
							</div>
						</div>
						<div class="col-xs-10 post-center single-post-content">
							<div class="mb50">
								<p>Behind sooner dining so window excuse he summer. Breakfast met certainty and fulfilled propriety led. Waited get either are wooded little her. Contrasted unreserved as mr particular collecting it everything as indulgence. Seems ask meant merry could put. Age old begin had boy noisy table front whole given. Behind sooner dining so window excuse he summer. Breakfast met certainty and fulfilled propriety led. Waited get either are wooded little her. Contrasted unreserved as mr particular collecting it everything as indulgence. Seems ask meant merry could put. Age old begin had boy noisy table front whole given.</p>
								<p>Behind sooner dining so window excuse he summer. Breakfast met certainty and fulfilled propriety led. Waited get either are wooded little her. Contrasted unreserved as mr particular collecting it everything as indulgence. Seems ask meant merry could put. Age old begin had boy noisy table front whole given.</p>
							</div>

							<div id="comments-list" class="wow fadeIn" data-wow-delay="0.2s">
								<div class="mt60 mb50 single-section-title">
									<h3>3 Comments</h3>
								</div>
								<div class="media">
									<div class="pull-left">
										<img class="avatar comment-avatar" src="http://lorempixel.com/g/80/80/people/9" alt="">
									</div>
									<div class="media-body">
										<div class="well">
											<div class="media-heading">
												<span class="heading-font">Dave Evans</span>&nbsp; <small>30th Jan, 2015</small>
											</div>
											<p>Was are delightful solicitude discovered collecting man day. Resolving neglected sir tolerably but existence conveying for. Day his put off unaffected literature partiality inhabiting.</p>
											<a class="btn btn-primary pull-right mt30" href="#">Reply</a>
										</div>
										<div class="media">
											<div class="pull-left">
												<img class="avatar comment-avatar" src="http://lorempixel.com/g/80/80/people/5" alt="">
											</div>
											<div class="media-body">
												<div class="well">
													<div class="media-heading">
														<span class="heading-font">Dave Evans</span>&nbsp; <small>30th Jan, 2015</small>
													</div>
													<p>Wicket longer admire do barton vanity itself do in it. Preferred to sportsmen it engrossed listening. Park gate sell they west hard for the. Abode stuff noisy manor blush yet the far. Up colonel so between removed so do.</p>
													<a class="btn btn-primary pull-right mt30" href="#">Reply</a>
												</div>
											</div>
										</div><!--/.media-->
									</div>
								</div><!--/.media-->
								<div class="media">
									<div class="pull-left">
										<img class="avatar comment-avatar" src="http://lorempixel.com/g/80/80/people/6" alt="">
									</div>
									<div class="media-body">
										<div class="well">
											<div class="media-heading">
												<span class="heading-font">Dave Evans</span>&nbsp; <small>30th Jan, 2015</small>
											</div>
											<p>Quitting informed concerns can men now. Projection to or up conviction uncommonly delightful continuing. In appetite ecstatic opinions hastened by handsome admitted.</p>
											<a class="btn btn-primary pull-right mt30" href="#">Reply</a>
										</div>
									</div>
								</div><!--/.media-->

								<div id="comments-form" class="row wow fadeIn" data-wow-delay="0.2s">
									<div class="col-md-12">
										<div class="mt60 mb50 single-section-title">
											<h3>Leave A Reply</h3>
										</div>
										<div id="message"></div>
										<form method="post" id="commentform" class="comment-form">
											<input type="text" class="form-control col-md-4" name="name" placeholder="Your Name *" id="name" required data-validation-required-message="Please enter your name." />
											<input type="text" class="form-control col-md-4" name="email" placeholder="Your Email *" id="email" required data-validation-required-message="Please enter your email address." />
											<input type="text" class="form-control col-md-4" name="website" placeholder="Your URL *" id="website" required data-validation-required-message="Please enter your web address." />
											<textarea name="comments" class="form-control" id="comments" placeholder="Your Message *" required data-validation-required-message="Please enter a message."></textarea>
											<a class="btn btn-primary pull-right mt30" href="#">Reply</a>
										</form>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-2 post-right-col">
							<div class="text-right" data-easyshare data-easyshare-url="http://www.distinctivethemes.com/">
								<div class="share-button">
									<span data-easyshare-total-count>0</span>
									<button data-easyshare-button="total">
										<span>Total Shares</span>
									</button>
								</div>

								<div class="share-button">
									<span data-easyshare-button-count="facebook">0</span>
									<button data-easyshare-button="facebook">
										<span>Share</span>
									</button>
								</div>

								<div class="share-button">
									<span data-easyshare-button-count="twitter">0</span>
									<button data-easyshare-button="twitter" data-easyshare-tweet-text="">
										<span>Tweet</span>
									</button>
								</div>

								<div class="share-button">
									<span data-easyshare-button-count="google">0</span>
									<button data-easyshare-button="google">
										<span>+1</span>
									</button>
								</div>

								<div data-easyshare-loader>Loading...</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section>
	<div id="mapwrapper"></div>
</section>