@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}
@section title {@CurrentPage.pageTitle}
<section class="dark-wrapper opaqued parallax" data-parallax="scroll" data-image-src="assets/img/bg/bg2.jpg" data-speed="0.8">
    <div class="section-inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mt30 text-center wow fadeIn" data-wow-delay="0.2s">
                    <div id="bannertext">
						<h2 class="section-heading">@CurrentPage.Name</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="ContactUs" class="opaqued light-opaqued parallax" data-parallax="scroll" data-image-src="@Umbraco.Media(CurrentPage.Site().contactUsBackground).Url" data-speed="0.8">
	<div class="section-inner">
		<div class="container">
			<div class="row">
				<div class="col-xs-10">
					<h2 class="post-title">@CurrentPage.Name</h2>
				</div>
				<div class="col-xs-10 post-center single-post-content">
					<div class="mb50">
						@CurrentPage.content
					</div>
				</div>      
			</div>
		</div>
	</div>
</section>
